[include]
  # include local environment dependency settings.
  path = ~/.gitconfig.local
[credential]
	helper = osxkeychain
[core]
	excludesfile = ~/.gitignore_global
  editor = vim
  pager = lv -c
[alias]
  br = branch
  co = checkout
  ci = commit
  cl = clone
  st = status
  df = diff
  d  = diff
  lg = log --decorate
  l  = log --decorate
  lp = log -p
  ls = ls-files
  s  = status --branch --short
  cb = rev-parse --abbrev-ref HEAD
  current-branch = rev-parse --abbrev-ref HEAD
  pcb = !git push origin `git rev-parse --abbrev-ref HEAD`
[color]
  ui = auto
[http]
  sslVerify = false
[rebase]
	autosquash = true

