[include]
  # include local environment dependency settings.
  path = ~/.gitconfig.local
[credential]
	helper = osxkeychain
[core]
	excludesfile = ~/.gitignore_global
	editor = nvim
  pager = lv -c
[alias]
  br = branch
  co = checkout
  ci = commit
  cl = clone
  st = status
  df = diff
  d  = diff
  dc = diff --cached
  lg = log --decorate
  l  = log --decorate
  lp = log -p
  ls = ls-files
  s  = status --branch --short
  cb = rev-parse --abbrev-ref HEAD
  current-branch = rev-parse --abbrev-ref HEAD
  pcb = !git push origin `git rev-parse --abbrev-ref HEAD`
  pullcb = !git pull origin `git rev-parse --abbrev-ref HEAD`
  # git openpr 05e8d1db # => open the pr page by browse
  openpr = "!f() { hub browse -- `git log --merges --oneline --reverse --ancestry-path $1...master | grep 'Merge pull request #' | head -n 1 | cut -f5 -d' ' | sed -e 's%#%pull/%'`; }; f"
[color]
  ui = auto
[http]
  sslVerify = false
[rebase]
	autosquash = true

[init]
	templatedir = ~/.git_templates
	defaultBranch = main
[ghq]
  root = ~/src
[filter "media"]
	clean = git media clean %f
	smudge = git media smudge %f
	required = true
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
[user]
	name = Nobuhiro Nikushi
	email = deneb.ge@gmail.com
[pull]
	rebase = false
